---
import "../css/_variables.css"
import "../css/404.css"
---

<body>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto Mono">
    </head>
    <div id="container-404">
        <div>
            <div>
                <h1>404</h1>
            </div>
            <h2>Oops!</h2>
            <p>Sorry but the page you are looking for does not exist</p>
            <a href="/">Go To Homepage</a>
        </div>
    </div>
</body>