---
import Base from "../layouts/base.astro";
import "../css/contact.css"
---

<Base title="Contact | Land Maze">
    <div id="contacts">
        <h1>Contacts</h1>
        <p>For any questions, please contact me at:</p>
    </div
</Base>