---
import "../css/index.css"
import Header from "../Components/Header.astro"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|">
    <title>Blog | Land Maze</title>
</head>
<body>
    <Header />
</body>
</html>