---
import "../css/index.css"
import Header from "../Components/Header.astro"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Land Maze</title>
</head>
<body class="bg-background text-text font-body selection:bg-accent selection:text-black p-10 pt-8">
    <Header />
</body>
</html>