---
import SocialLink from "../Components/SocialLink.astro";
---

<footer class="flex flex-col">
    <div class="flex flex-row items-center justify-between">
        <hr class="w-full ml-14">
        <div class="w-full flex flex-row gap-8 mx-10">
            <SocialLink href="" icon="/images/github-logo.png" />
            <SocialLink href="" icon="/images/github-logo.png" />
            <SocialLink href="" icon="/images/github-logo.png" />
        </div>
        <hr class="w-full mr-14">
    </div>
</footer>