---
import "../css/Footer.css"
---

<footer>
    This site was made on <pre style="color: var(--color-link-hover)"> Astro</pre>
    <!-- And I created this website for my beloved Svetlana,<span style="color:brown;">love YOU</span>! -->
</footer>