---
import "../css/Header.css"
---

<nav>
    
    <div id="container-name-links" class="flex-item">
        <div id="logo_and_name">
            <div id="logo" class="flex-item">
                <img src="https://avatars.githubusercontent.com/u/61432929" alt="logo">
            </div>
            <div id="name" class="flex-item">
                <h2>Timur Dzhesur</h2>
                <h3><span style="font-size: 10px;">aka</span> Land Maze</h3>
            </div>
        </div>
        <div id="links">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="https://github.com/Land-Maze/" target="_blank">GitHub</a>
        </div>
    </div>
</nav>

<script>
function igniteCurrentLink() {
    let currentPath = window.location.pathname;
    currentPath = currentPath.replace(/\/$/, "");

    const links = document.querySelectorAll('a');
    links.forEach(link => {
        if ((link.getAttribute('href') === currentPath) || (link.getAttribute('href') === currentPath + '/') || (link.getAttribute('href') === "")) {
            link.classList.add('active');
        }
    });
}
igniteCurrentLink();
</script>