---
interface Props{
    href: string;
    target: '_blank' | '_self' | '_parent' | '_top';
    rel: string;
    style?: string;
}
const { href, target, rel, style }: Props = Astro.props;
---

<a href={href} target={target} rel={rel} class={"text-accent hover:text-primary hover:underline hover:scale-110 transform duration-200" + ' ' + style}>
    <slot></slot>
</a>