---
export interface Props {
    title: string;
    url: string;
    image: {
        url: string;
        alt: string;
    };
    description: string;
    date?: Date;
    tags: string[];
}
const { title, url, image, description, date, tags } = Astro.props;
import "../css/Post.css"
---
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Martian Mono" />
<div class="post-block">
    <a href={ url }>
        <h1>{ title }</h1>
    </a>
    <div class="post-info-container">
        <div class="left-side-post-info">
            <img src={ image.url } alt={ image.alt } />
            <span class="image-description">{"{"}{ image.alt }{"}"}</span>
        </div>

        <div class="right-side-post-info">
            <span class="post-description">{ description }</span>
        </div>
        
    </div>
    
    <div class="post-info">
        <p class="post-date">{ `${date?.getDate()}-${date?.getMonth()}-${date?.getFullYear()}` }</p>
        <span class="tags">{tags.map((tag, index, arr)=> {return (arr[arr.length-1]===tag?tag: `${tag} - `)})}</span>
    </div>
</div>