---
const { title, url, description, image } = Astro.props;
import "../css/Post.css"
---
<div class="post-block">
    <div>
        <h1>{ title }</h1>
        <p>URL: <a href={url}> авава</a></p>
    </div>
</div>