---
import "../css/ProgressBar.css"
---

<div id="progress-bar">
    <hr id="progress-bar-liner">
</div>

<script>
    const progressBar = document.getElementById('progress-bar');
    const progressBarLiner = document.getElementById('progress-bar-liner');

    setInterval(() => {
        const scroll = document.documentElement.scrollTop;
        const height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        const scrolled = (scroll / height) * 100;

        if (progressBarLiner) 
            progressBarLiner.style.width = `${scrolled}%`;
    }, 10);
</script>