body{
    margin: 0;
    padding: 0;
    color: var(--color-primary);
    font-family: 'Roboto mono' !important;
}
#container-404{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color-background);
}
#container-404 h1{
    font-size: 5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
a{
    color: var(--color-link);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;
}
a:hover{
    color: var(--color-link-hover);
}