footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--color-dimmer-background);
    color: var(--color-link);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;
    padding: 0 1rem;
    text-align: center;
    box-shadow: 0 0 2px #ccc;

}
@media only screen and (max-width: 600px) {
    footer{
        font-size: 0.8rem;
        width: 100vw;
        padding: 0 0.5rem;
    }
    
}