@import './_variables.css';

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    /* background-color: var(--background-200); */

}

.header-wrapper{
    display: flex;
    align-items: center;
}

#header-info{
    justify-content: space-between;
}

#header-avatar{
    width: 70px;
    height: 70px;
    border-radius: 10%;
}