@import "./_variables.css";
@import "./_base.css";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.logo-shadow {
  border-radius: 50%;
}
.logo-shadow:hover {
  box-shadow: 0px 0px 20px 0.5px #f67e84;
}
.gradient-text {
  background-color: #f67e84;
  background-image: linear-gradient(45deg, #9ba569, #f67e84);
  background-image: conic-gradient(45deg, #9ba569, #f67e84);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  background-size: 100%;
  background-repeat: repeat;
}
.gradient-text:hover {
  background-image: linear-gradient(45deg, #f67e84, #9ba569);
}

