a {text-decoration: none;}
body{
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}
html {
    height: 100%;
}
hr{
    width: 80%;
}
#grid-posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    padding: 20px;
}