a {text-decoration: none; color: aliceblue;}
body{
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
html {
    min-height: 100%;
    font-size: 16px;
}
hr{
    width: 80%;
}
#grid-posts{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}