.post-block{
    width: 80%;
    min-height: 300px;


    font-size: 0.8em;
    font-weight: 400;
    line-height: 2em;
    text-align: justify;
    word-break: normal;
    overflow-wrap: normal;

    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px #ccc;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    font-family: "Arial", sans-serif;

    background-color: var(--color-background-brighter);
    color: var(--color-link);

    display: flex;
    flex-flow: column;
}
.post-block h1{
    text-decoration: underline; 
    font-family: "Martian Mono", monospace;
    white-space: pre-wrap;
    line-height: 1.5em;
    font-weight: 300 !important;
    text-align: center;
}
.post-description{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5em;
    color: var(--color-fourth);
}
.post-info{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(240, 248, 255, 0.468);
    text-align: center;
    font-size: 0.8em;
}
.post-block .post-info-container{
    height: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.post-block .left-side-post-info{
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: 0 2rem;
}
.post-block .left-side-post-info img{
    width: 150px;
    height: 150px;
}
.post-block .left-side-post-info .image-description{
    color: rgba(240, 248, 255, 0.468);
    text-align: center;
    font-size: 0.8em;
}
.post-block .right-side-post-info{
}