article{
    /* padding: 50px; */
    color: var(--color-primary);
    padding: 30px 100px;
    padding-bottom: 70px;
    font-size: 20px;
    max-width: 100vw;
}
article h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--color-secondary);
    margin: 0.5em 0;
}

/* ------------------ */

article h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: var(--color-third);
    font-weight: bold !important;
    margin: 0.35em 0;
}
/* article h2::before{
    content: "\2003\2003\2003\2003";
}*/
article h2::after{
    content: ":";
}
article h3::before{
    content: "---> ";
}

/* ------------------ */

article p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5em;
    color: var(--color-primary);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
}
article .post-text{
    background-color: var(--color-background-brighter);
    padding: 1rem;
    border-radius: 25px;
}

article .post-text pre{
    padding: 10px;
    border: 0.1px dotted var(--color-secondary);
}
strong{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
/* ------------------ */

div.copy-button{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/copy.png);
    background-size: cover;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-left: 5px;
}
div.copy-button:hover{
    transform: scale(1.1);
    /* transform: rotate(360deg); */
    filter: invert(100%);
}
div.copy-button::after {
    content: "Copy";
    position: absolute;
    display: none;
    background-color: var(--color-dimmer-background);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 100%;
    left: 50%;
    /* transform: translateX(-50%); */
    white-space: nowrap; /* Prevents the text from wrapping */
}

div.copy-button:hover::after {
    display: block;
}

.balloon{
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-dimmer-background);
    transition: all 0.2s ease-in-out;
    user-select: none;
}

article > hr{
    margin: 20px 0;
    display: block;
    border: 0;
    border-top: 1px solid var(--color-secondary);
}

article p> code{
    background-color: var(--color-dimmer-background);
    padding: 0 5px;
    border-radius: 5px;
    /* border: 1px solid var(--color-secondary); */
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: bold; */
    font-size: 1.2rem;
    color: var(--color-code);
}
a{
    color: var(--color-link);
}