---
import "../css/index.css";
import "../css/_base.css";
import Header from "../Components/Header.astro";
import Tag from "../Components/Tag.astro";
import Footer from "../Components/Footer.astro";
import BaseHead from "../Components/BaseHead.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead />
    <title>{ title } | Land Maze</title>
  </head>
  <body>
    <Header />

    <article>
      <slot />
    </article>
    
    <Footer />
  </body>
</html>