---
import "../css/index.css";
import "../css/_base.css";
import Header from "../Components/Header.astro";
import Footer from "../Components/Footer.astro";
import BaseHead from "../Components/BaseHead.astro";
import type { MarkdownLayoutProps } from "astro";
import type { PostDataType } from "../utils/types/MarkDown";

interface Props extends MarkdownLayoutProps<PostDataType> {
  
}
const { frontmatter, url } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead />
    <link rel="canonical" href={ new URL(url!, Astro.site).pathname } />
    <title>{ frontmatter.title } | Land Maze</title>
  </head>
  <body>
    <Header />

    <article>
      <slot />
    </article>
    
    <Footer />
  </body>
</html>