---
import "../css/index.css";
import "../css/_base.css";
import Header from "../Components/Header.astro";
import Footer from "../Components/Footer.astro";
import BaseHead from "../Components/BaseHead.astro";
import type { MarkdownLayoutProps } from "astro";
import type { PostDataType } from "../utils/types/MarkDown";

interface Props extends MarkdownLayoutProps<PostDataType> {
  
}
const { frontmatter, url } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead />
    <link rel="canonical" href={ new URL(url!, Astro.site).pathname } />
    <title>{ frontmatter.title } | Land Maze</title>
  </head>
  <body class="bg-background text-text selection:bg-accent selection:text-black p-10 pt-8 2xl:w-pagemax 2xl:m-auto font-mono">
    <Header />

    <article class="prose-h1:text-center prose-h1:text-3xl prose-h2:text-2xl prose-h1:underline prose-h2:italic prose-h2:font-heading prose-h1:font-heading">
      <slot />
    </article>
    
    <Footer />
  </body>
</html>
